@font-size-base: 16;
//  It's a little ugly compared to Sass functions, but the following can be used for converting 
//  from px to rem. e.g. font-size: 12/@rem;
@rem: unit(@font-size-base, rem);

@golden-ratio: 1.61803398875;

//  Media query breakpoints.
//  Use these like so:
//  @media @mq-medium {
//      (styles for this media query go here)
//  }
@mq-medium: ~"screen and (max-width: 800px)";
@mq-small: ~"screen and (max-width: 600px)";
@mq-high-dpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)";

//  A clearfix for floats, if :after isn't already taken.
.pie-clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//  This isn't represented in Autoprefixer yet so here's a custom mixin.
//  Here's the W3C proposed standard: http://dev.w3.org/csswg/css-images-3/#the-image-rendering
.pixel-art-scaling() {
	-ms-interpolation-mode: nearest-neighbor;       // IE 7-8, not supported in IE9+ :(
	image-rendering: -moz-crisp-edges;              // Firefox
	image-rendering: -webkit-optimize-contrast;     // Chrome, Safari
    image-rendering: crisp-edges;                   // W3C proposed standard for pixel art
}
